@{
    Layout = null;
}
<div class="confirmacao-container">
    <h1 class="text-align">Você realmente deseja fechar essa denúncia?</h1>
    <button class="btn-danger">Fechar Denúncia</button>
    <button class="botao-voltar">Voltar</button>
</div>